@page "/"

<section class="hero">
    <div class="hero-image">
        <img src="https://cdn.discordapp.com/emojis/929656222792167455.gif?&quality=lossless">
    </div>
    <div class="hero-content">
        <h1>Meet Your New Virtual Capybara!</h1>
        <p>
            Take care of your adorable capybara companion. Feed, play, and watch them 
            grow happy and healthy in this delightful virtual world.
        </p>
        <div class="hero-buttons">
            <NavLink href="/play" class="btn btn-primary">Start Playing</NavLink>
            <NavLink href="/mycapybara" class="btn btn-secondary">My Capybara</NavLink>
        </div>
    </div>
</section>


