@inject NavbarService Navbar

<header class="header">
    <div class="header">
        <div class="header-logo">CapybaraPet</div>
        <div class="header-actions">
            <img src="https://cdn.discordapp.com/emojis/1036622917968076871.gif?size=96&quality=lossless" 
                 alt="User Avatar" 
                 @onclick="Navbar.Toggle"
                 class="user-avatar"/>
        </div>
    </div>
</header>