@inherits LayoutComponentBase

<div class="app-container">
    @* ReSharper disable once Html.TagShouldNotBeSelfClosed *@
    <Header/>
    <NavMenu/>
    <main class="main-content">
        @Body
    </main>
</div>